.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f2235;
  width: 100%;
  height: 5rem;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  color: #fff;
  align-items: center;
}

.header a {
  color: #fff;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.header__link {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  gap: 15px;
}
.header__link li {
  position: relative;
}
.header__link li::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.755);
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  bottom: 0;
  transition: width .5s ease;
}
.header__link li.active:hover::after,
.header__link li:hover::after {
  width: 100%;
}

.header__link li.active a,
.header__link li:hover a,
.header__logo:hover a{
  color: #00B2DE;
}

.shrink {
  height: 4rem;
  transition: height .3s ease;
}